@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-raleway {
  font-family: var(--raleway-font);
}

.font-catamaran {
  font-family: var(--catamaran-font);
}

body {
  background-color: #0c0c0c;
  font-family: "font-raleway", sans-serif;
}

h1,
h2 {
  font-family: "font-catamaran";
}
